html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFE;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  transition: 0.4s ease-in;
}

.app {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .app {
    grid-template-columns: 0.7fr 6.6fr 2.7fr;
  }
}