.history_container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
}
  
.history_cart {
    width: 100%;
    height: 100vh;
    display: none;
}
  
  
@media (min-width: 950px) {
    .history_container {
      display: grid;
      grid-template-columns: 2.8fr 1.2fr;
    }
    .history_cart {
        display: initial;
    }
}
  